
div{
  position: absolute;
}

img {
  position: absolute;
}

#spadeA {
  left: 10px;
  top: 20px;
  z-index: -3;
}

#spade2{
  left: 40px;
  top: 30px;
  z-index: 2;
}

#spade3 {
  left: 80px;
  top: 40px;
  z-index: 3;
}

#spade7{
  left: 120px;
  top: 50px;
  z-index: 7;
}
