#menubar {
  background: olive;
}

#menubar ul {
  margin: 0;
  padding: 0;
}

#menubar ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 15px;
}

#menubar ul li a {
  color: white;
  text-decoration: none;
}

#menubar ul li a:hover {
  color: violet;
}

#body ul li {
  background: aqua;
  list-style-image: url("media/marker.png");
}
