
div{
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid lightgray;
  text-align: center;
  color: white;
  background: red;
}

#down:hover{
  position: relative;
  left: 20px;
  top: 20px;
  background: green;
}

#up:hover {
  position: relative;
  right : 20px;
  bottom: 20px;
  background: green;
}
